{%load static%}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{%url 'store'%}">Ecom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">{{request.user}} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin">admin<span class="sr-only">(current)</span></a>
            </li>


        </ul>
        <div class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated  %}
            <a href="{% url 'logout' %}" class="btn btn-warning" style="margin-right:5px;">Log out</a>
            {%else%}
            <div style="margin-right:40px;">
            <a href="{% url 'register' %}" class="btn btn-warning">create acount</a>
            <a href="/login" class="btn btn-warning">Login</a>
            </a>
        </div>
              {% endif %}
              <a href="{% url 'cart' %}"style="margin-right:40px;">
            <p id="cart-total">{{ cartItems }} <img id="cart-icon" src="{% static 'images/cart.png' %}" ></p>
                </a>
        </div>
    </div>
</nav>